/*Selector universal*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;

}






footer{
    background:#0879C9;
    text-align: center;
    color: white;
    padding: 10px;
    /*se manda al fondo de la pgina*/
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 50px;
}
a{
    font-size: 13px;
    color: #7d0a42;
    text-decoration: none;
}

footer a{    
    color:azure;
    
}




#menu {
    background-color: #F8F9FA;
}

#menu ul li {
    display: block;
    float: left;
    /*border-right:#ccc 1px solid;*/
}

#menu ul li a {
    display: block;
    padding: 15px;
    color: #000;
    text-decoration: none;
}



#BarraSuperior1 ul li a {

    text-decoration: none;
}

#menu ul li:hover {
  /*  background: rgb(16,75,143);*/
    cursor: pointer;
    
}

#menu ul li:hover a {
     /*color: #000;*/
     font-size: 14px;
    
    /* font-weight: bold;*/
}

/*selector por clase -> se puede reutilizar*/



#frm-buscar button {
    background: #F45C5D;
    color: #FFF;
    padding: 10px;
    margin: 0px 8px 0px 0px;
}

#frm-buscar input {
    background: #fff;    
    padding: 10px;
    margin: 0px 8px 0px 0px;
}

#div-Buscar{

margin: 24px 0px 0px ;
padding: 0px 5px;
}

.logo_agile h1 a {
    color: #F45C5D;
    font-size: 38px;
    text-decoration: none;
    letter-spacing: 1px;
    position: relative;
}

.logo_agile h1 a:hover {
    text-decoration: none;
    text-decoration: none;
}

.logo_agile h1 a img {
    position: absolute;
    left: -40%;
    top: -23px;
}

.logo_agile {
    padding: 26px 0 21px;
}

.text-center {
    text-align: center !important;
  }

  .header {
    margin: 10px 0 !important;
}



.header-most-top p {
    letter-spacing: 1px;
    font-size: 15px;
}

.header-right ul li {
    display: inline-block;
    width: 19%;
    font-size: 13px;
    letter-spacing: 1px;
}




  #div-BarraSuperior1 {
      background-color: #0879C9;
  }


  


.w3l-space-banner {
    padding-top: 9em;
}

.carousel-caption {
    background: rgba(16, 16, 16, 0.27);
    text-align: left;
    position: inherit;
    box-shadow: 0px 2px 2px 2px rgba(2, 2, 2, 0.43);
}

.carousel-caption h2,
.carousel-caption h3 {
    font-size: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 3px 8px 2px rgb(12, 12, 12);
}

.carousel-caption h2 span,
.carousel-caption h3 span {
    font-weight: 800;
    color: #F45C5D;
}

.carousel-caption p {
    letter-spacing: 5px;
    font-size: 24px;
    color: #fff;
    text-shadow: 3px 5px 2px rgb(12, 12, 12);
}

.carousel-caption p span {
    font-size: 40px;
    letter-spacing: 0px;
    font-weight: 600;
}

.carousel-indicators {
    bottom: 4%;
}

.carousel-indicators li {
    cursor: pointer;
}
 


.button2 {
    display: inline-block;
   
    border-radius: 4px;
    color: #fff;
    letter-spacing: 2px;
    padding: 11px 27px;
}

.button2:hover,
.button2:focus {
    background: #F45C5D;
    color: #fff;
}

/*#carouselExampleCaptions img{
    margin: 0 0 0 100px  ;

}*/

.product-sec1 {
    box-shadow: 0px 0px 15px 0px #D6D6D6;
}


#contenido a img:hover{
    height: 178;
}
#contenido a{
    color: #fff;
    text-decoration: none;
}

#contenido a:hover{
    color: #000;
}